/* Home.css */
.home-container {
    padding: 80px 20px 20px; /* Adjust padding to account for fixed navbar */
    padding-left: 150px;
}

.home-container h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}
.home-container1 {
    .home-container {
        display: flex;
        flex: 33.33%;
        padding: 5px;

    }
}