.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #020070; /* Dark red background */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar-logo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar-links li {
  cursor: pointer;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #fd0000; /* Bright red color */
}

/* Hamburger menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 0.3rem;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
    background-color: #002e3b; /* Dark red background */
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
