.navbar {
  background-color: #020070; /* Dark blue background */
  color: white;
  display: flex;
  justify-content: center; /* Center the logo horizontally */
  align-items: center;     /* Center the logo vertically */
  height: 80px;            /* Adjust the height as needed */
  width: 100%;             /* Make the navbar span the full width */
  position: fixed;
  top: 0;
  z-index: 900;           /* Ensure the navbar stays on top of other elements */
}

.navbar-logo {
  font-size: 1.8rem;        /* Font size for the logo */
  font-weight: bold;        /* Make the text bold */
  transform: translateX(50px); /* Move 5px to the left from the center */
}
